@media (max-width: 1220px) {
    .Card {
        width: 252px;
        height: 278px;
    }

    body {
        overflow-y: scroll;
        height: 151vh;
    }
    .me-sm-68{
        margin-left: 68px;
    }
}

@media (max-width:1024px) {
    .Card {
        width: 252px;
        height: 278px;
    }

    body {
        overflow-y: scroll;
        height: 151vh;
    }
    .me-sm-68{
        margin-left: 68px;
    }
}

@media (max-width:768px) {
    .Card {
        width: 252px;
        height: 278px;
    }

    body {
        overflow-y: scroll;
        height: 151vh;
    }
    .me-sm-68{
        margin-left: 68px;
    }
}

@media (max-width:425px) {
    .Card {
        width: 252px;
        height: 278px;
    }

    body {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 230vh;
        width: auto;
    }
    .me-sm-68{
        margin-left: 68px;
    }
}

@media (max-width:375px) {
    .Card {
        width: 252px;
        height: 278px;
    }

    body {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 230vh;
        width: auto;
    }
    .me-sm-68{
        margin-left: 68px;
    }
    .form-box {
        max-width: 301px;
    }
}

@media (max-width:320px) {
    .Card {
        width: 252px;
        height: 278px;
    }

    body {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 230vh;
        width: auto;
    }
    .me-sm-68{
        margin-left: 68px;
    }
    .form-box {
        max-width: 301px;
    }
}